<div class='container'>

  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'home'}}<strong>HUSTLE</strong>{{/link-to}}</li>
      <li>{{#link-to 'news'}}News{{/link-to}}</li>
      <li>{{#link-to 'food'}}Food{{/link-to}}</li>
      <li>{{#link-to 'tech'}}Tech{{/link-to}}</li>
    </ul>
    <div {{action 'hideSocialMedia' on="mouseLeave"}}>
      <ul class='socialmedia nav navbar-nav' {{action 'showSocialMedia' on="mouseEnter"}} >
        <li><a class="icon" href="http://www.facebook.com" target="_blank"><img src="css/icon-facebook.png"></a></li>
        <li><a class="icon" href="http://www.twitter.com" target="_blank"><img src="css/icon-twitter.jpg"></a></li>
        <li><a class="icon" href="http://www.pinterest.com" target="_blank"><img src="css/icon-pinterest.png"></a></li>
      </ul>
      {{#if socialMediaShow}}
      <nav class='navbar navbar-default sub-navbar' role='navigation' {{action 'hideSocialMedia' on="mouseLeave"}}>
        <ul class='nav navbar-nav'>
          <li><a class="icon" href="http://www.facebook.com" target="_blank"><img src="css/icon-facebook.png"></a></li>
          <li><a class="icon" href="http://www.twitter.com" target="_blank"><img src="css/icon-twitter.jpg"></a></li>
          <li><a class="icon" href="http://www.pinterest.com" target="_blank"><img src="css/icon-pinterest.png"></a></li>
        </ul>
      </nav>
      {{/if}}
    </div>
  </nav>


  {{outlet}}

</div>
