<h1>HOME!</h1>

{{#if storyZero}}
  <h2>zero</h2>
  {{else}}
    {{#if storyOne}}
      <h4>one</h4>
    {{else}}
      {{#if storyTwo}}
        <h4>two</h4>
        {{else}}
          <h4>three</h4>
      {{/if}}
    {{/if}}  
{{/if}}
